div.flex {
  display: flex;
  align-items: center;
}

input {
  max-width: 100px;
}

div.column {
  flex-direction: column;
}

div.start {
  align-items: start;
}

div.end {
  align-items: end;
}

div.center {
  align-items: center;
  justify-content: center;
}

img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  background-color: aliceblue;
  padding: 1rem;
}

#main-container {
  width: 500px;
  height: calc(150px + 2rem);
  text-align: center;
  font-size: 150px;
  line-height: 150px;
  background-color: aliceblue;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#answer-container {
  margin-top: 5rem;
}
