body {
    margin: 0;
    width: 200vw;
}

.ground {
    background-color: dodgerblue;
    width: 200vw;
    height: 100vh;
    padding: 0;
    position: relative;
}

.cloud-container {
    width: 100vw;
    position: relative;
}

.cloud {
    width: 100px;
    height: 150px;
    object-fit: contain;
    position: absolute;
}


.surface {
    width: 100vw;
    height: 92px;
    position: absolute;
    left: 2px;
    bottom: 0;
    background-color: chocolate;
}


.landscape-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.landscape {
    width: 30px;
    height: 30px;
    object-fit: contain;
    position: absolute;
}

.dokan {
    width: 60px;
    object-fit: contain;
    position: absolute;
    background-color: dodgerblue;
}

.path-to-underground {
    width: 100vw;
    height: 200vh;
    background: linear-gradient(chocolate, darkblue);
}