body {
    margin: 0;
    width: 200vw;
}

.ground {
    background-color: dodgerblue;
    width: 200vw;
    height: 100vh;
    padding: 0;
    position: relative;
}

.cloud-container {
    width: 100vw;
    position: relative;
}

.cloud {
    width: 100px;
    height: 150px;
    object-fit: contain;
    position: absolute;
}


.ground .surface {
    width: 100vw;
    height: 90px;
    position: absolute;
    left: 2px;
    bottom: 0;
    background-color: chocolate;
}

.underground .surface {
    width: 100vw;
    height: 90px;
    position: absolute;
    left: 2px;
    bottom: 0;
    background-color: darkcyan;
}


.landscape-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.landscape {
    width: 30px;
    height: 30px;
    object-fit: contain;
    position: absolute;
}

.ground .landscape-container .dokan {
    width: 60px;
    object-fit: contain;
    position: absolute;
    background-color: dodgerblue;
}

.underground .landscape-container .dokan {
    width: 60px;
    object-fit: contain;
    position: absolute;
    background-color: black;
}

.path-to-underground {
    width: 100vw;
    height: 200vh;
    background: linear-gradient(chocolate, black);
}

.underground {
    background-color: black;
    width: 200vw;
    height: 100vh;
    padding: 0;
    position: relative;
}

.congratulations-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 100vw;
}

.congratulations-animation {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}

.congratulations-text-container {
    position: absolute;
    justify-content: center;
    align-items: center;
}

.congratulations-text {
    object-fit: cover;
    font-family: Titan One;
    font-size: 80px;
    color: darkorange;
}